/* LoginPage.css */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #f36f09;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  background-color: #d85a00;
}

.google-login {
  margin-top: 20px;
}