/* Default (Light) */
body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar {
  background-color: #f36f09; /* Sfondo arancio fisso */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease;
}

/* Tema light */
.navbar.light {
  color: white;
}

.navbar.light button {
  color: black;
  background-color: white;
}

.navbar.light button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Tema dark */
body.dark {
  background-color: #333; /* Sfondo scuro per tutto l'app */
  color: #fff; /* Testo bianco per il tema scuro */
}

.navbar.dark {
  color: white;
}

.navbar.dark button {
  color: white;
  background-color: black;
}

.navbar.dark button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Logo navbar */
.navbar .logo a {
  font-size: 24px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
}

/* Menu principale */
.navbar .menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Bottone del menu toggle (hamburger) */
.navbar .toggle-menu {
  display: none;
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
  /* Navbar menu su mobile: Nasconde il menu finché non viene cliccato */
  .navbar .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    z-index: 10;
    padding: 10px;
  }

  /* Visualizza il menu se attivo */
  .navbar .menu.active {
    display: flex;
  }

  /* Mostra l'icona dell'hamburger */
  .navbar .toggle-menu {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    margin-right: 20px;
  }

  /* Sistema il logo su mobile */
  .navbar .logo {
    margin-left: 0;
    font-size: 22px;
  }
}